* {
    padding: 0;
    margin: 0;
    font-family: 'ubuntu';
}

@font-face {
    font-family: 'ubuntu';
    src: url(../font/Ubuntu/Ubuntu-Regular.ttf);
}

.container-utama {
    display: flex;
    height: 100%;
}

.sidebar {
    display: flex;
    background-color: #707370;
    width: 260px;
    padding: 24px;
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
    transition: all ease-in 0.2s;
}

.sidebar .header .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0;
    border-radius: 8px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.sidebar .header .list-item #menu-button img {
    margin: 0 4px;
    width: 30px;
    height: auto;
}



.sidebar .description-header {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-align: center;
}

.sidebar .illustration {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0 22px 0;
    box-sizing: border-box;
}
.sidebar .illustration img {
    width: 120px;
    margin: 0 auto;
    margin-left: 20px;
}

.main .list-item .description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
}
.main .list-item a{
    text-decoration: none;
}

.main .list-item .icon{
    margin: 0 0 3px;
    width: 26px;
    height: 20px;
}
.main .list-item {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    padding: 12px 7px;
    border-radius: 8px;
    /* width: 212px; */
    box-sizing: border-box;
    transition: all ease-in .2s;
    cursor: pointer;
}
.main .list-item:hover {
    background: #FF9900;
    transition: all ease-in .2s;
}

.main .logout:hover {
    background: #FA4D76;
    transition: all ease-in .2s;
}

.container-right {
    max-height: 100vh;
    overflow-y: scroll;
    width: 100%;
}
.sidebar {
    width: 87px;
    transition: all ease-out 0.2s;
  }
  
  .sidebar .description-header {
    display: none;
  }
  .sidebar .illustration {
    display: none;
  }
  .sidebar .list-item .description {
    display: none;
  }
  
  .sidebar.hide {
    width: 260px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
  }
  .sidebar.hide .description-header {
    display: contents;
  }

  .sidebar.hide .illustration {
    display: contents;
  }
  .sidebar.hide .list-item .description {
    display: contents;
  }
  
  #menu-button {
    width: 50px;
    overflow: hidden;
  }
  #menu-label {
    width: 30px;
    height: 28.38px;
    display: block;
    cursor: pointer;
  }
  
  #menu-checkbox {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    .sidebar {
      width: 87px;
      transition: all ease-out 0.2s;
    }
  
    .sidebar .description-header {
      display: none;
    }
    .sidebar .illustration {
      display: none;
    }
    .sidebar .list-item .description {
      display: none;
    }
  
    .sidebar.hide {
      width: 260px;
      padding: 24px;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      height: 100vh;
    }
    .sidebar.hide .description-header {
      display: contents;
    }
    .sidebar.hide .illustration {
      display: contents;
    }
    .sidebar.hide .list-item .description {
      display: contents;
    }
  
    #menu-button {
      width: 100%;
      overflow: hidden;
    }
    #menu-label {
      display: block;
      height: 40px;
      cursor: pointer;
    }
  
    #menu-checkbox {
      display: none;
    }

    .info-akun {
        width: 60vw;
        height: 35vh;
        position: relative;
        right: 130px;
      }
    
      .info-akun .info-title h1 {
        font-size: 1.3em;
      }
    
      .list-info {
        font-size: 1.1em;
      }
    }

    @media screen and (max-width: 768px) {
        .info-akun {
          width: 60vw;
          height: 45vh;
        }
      
        .info-akun .info-title h1 {
          font-size: 1.2em;
        }
      
        .list-info {
          font-size: 0.8em;
        }
      }
      @media screen and (max-width: 576px) {
        .info-akun {
          width: 60vw;
          height: 40vh;
          right: 150px;
        }
      
        .info-akun .info-title h1 {
          font-size: 1em;
        }
      
        .list-info {
          font-size: 0.6em;
        }
      }
      
      @media screen and (max-width: 480px) {
        .info-akun {
          width: 60vw;
          height: 30vh;
          right: 170px;
        }
      
        .main .list-item .description {
          font-size: 0.7em;
          line-height: 10px;
        }
      
        .sidebar .description-header {
          font-size: 0.9em;
          line-height: 12px;
        }
      
        .sidebar .illustration img {
          width: 100px;
          margin: 0 auto;
          align-items: center;
        }
      }
